.wrap {
  width: 550px;
  margin: 0 auto;
  border: 1px solid white;
}

.nav {
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f55a5a;
  color: #fff;
}

.nav img {
  width: 24px;
  height: 24px;
  margin-right: 7px;
}

.nav p {
  color: #fff;
  font-family: Inter;
  font-size: 14.461px;
  font-weight: 500;
  letter-spacing: -1.085px;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 28px 40px;
}

.card-image {
  width: 125px;
  height: 168px;
  border-radius: 5px;
  background: lightgray 50%;
  margin: 18px 19px 18px 0;
}

.map-info {
  display: flex;
  align-items: center;
}

.map-info span {
  color: #2b283a;
  font-family: Inter;
  font-size: 10.24px;
  font-weight: 400;
  letter-spacing: 1.741px;
  margin: 0 12px 0 4px;
}

.map-info a {
  color: #918e9b;
  font-family: Inter;
  font-size: 10.24px;
  font-weight: 400;
  text-decoration-line: underline;
}

.card-detail h2 {
  color: #2b283a;
  font-family: Inter;
  font-size: 25px;
  font-weight: 700;
  margin: 7px 0 12px;
}

.card-detail .date {
  color: #2b283a;
  font-family: Inter;
  font-size: 10.24px;
  font-weight: 700;
}

.card-detail .description {
  color: #2b283a;
  font-family: Inter;
  font-size: 10.24px;
  font-weight: 400;
  line-height: 150%; /* 15.36px */
  margin-top: 9px;
}

.line {
  width: 478px;
  height: 1px;
  background: #f5f5f5;
}
